

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background-color: #f0f0f0;
}


.blood-container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.header {
    text-align: center;
    padding: 20px;
    border-bottom: 2px solid  #033683;;
    height: 150px;
}

.header h1 {
    color:  #033683;;
    position: relative;
    top: -70px;
}

.patient-info, .test-results {
    margin-top: 20px;
}

.patient-info h2, .test-results h2 {
    border-bottom: 2px solid  #033683;;
    padding-bottom: 10px;
    margin-bottom: 10px;
}

.patient-info p, .test-results table {
    margin-bottom: 10px;
}

.test-results table {
    width: 100%;
    border-collapse: collapse;
}

.test-results th, .test-results td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

.test-results th {
    background-color:  #033683;;
    color: #fff;
}

footer {
    margin-top: 30px;
    text-align: center;
    font-size: 0.9em;
    color: #666;
}

#cbc-logo{
    height: 100px;
    position: relative;
    left: -23%;
}