
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Arial', sans-serif;
}

body {
    background-color: #f8f9fa;
    color: #333;
}

.container {
    max-width: 800px;
    margin: 30px auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.header {
    text-align: center;
    padding: 20px;
    border-bottom: 2px solid  #033683;
}

.header h1 {
    color:  #033683;;
}

.patient-info {
    margin-top: 20px;
}

.patient-info h2 {
    border-bottom: 2px solid  #033683;;
    padding-bottom: 10px;
    margin-bottom: 10px;
}

.patient-info p {
    margin-bottom: 10px;
    line-height: 1.6;
}

.test-results {
    margin-top: 20px;
}

.test-results h2 {
    border-bottom: 2px solid #033683;
    padding-bottom: 10px;
    margin-bottom: 10px;
}

.test-results table {
    width: 100%;
    border-collapse: collapse;
}

.test-results th, .test-results td {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: left;
}

.test-results th {
    background-color: #033683;
    color: white;
}

footer {
    margin-top: 30px;
    text-align: center;
    font-size: 0.9em;
    color: #666;
}
