
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background-color: #f4f4f9;
    color: #333;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.header {
    text-align: center;
    padding: 20px;
    border-bottom: 2px solid  #033683;
}

.header h1 {
    color:  #033683;
}

.patient-info, .xray-info, .xray-results {
    margin-top: 20px;
}

.patient-info h2, .xray-info h2, .xray-results h2 {
    border-bottom: 2px solid  #033683;
    padding-bottom: 10px;
    margin-bottom: 10px;
}

.patient-info p, .xray-info p, .xray-results p {
    margin-bottom: 10px;
    line-height: 1.6;
}

.xray-results h3 {
    margin-top: 20px;
    margin-bottom: 10px;
    color: #033683;
}

.xray-results ul {
    margin-left: 20px;
    list-style-type: disc;
}

.xray-results ul li {
    margin-bottom: 8px;
}

footer {
    margin-top: 30px;
    text-align: center;
    font-size: 0.9em;
    color: #666;
}


